
.stat {
    display: flex;
}


.stat > div {
    padding-top: 2px;
    padding-bottom: 2px;
}
.stat > div.title {
    width: 100px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stat > div:not(:first-child) {
    width: 24px;
    text-align: center;
}

.stat > .value {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
}
.stat > .value.active {
    background-color: yellow;
}
.stat > div:nth-last-child(2) {
    border-right: 1px solid grey;
}
.stat > div:last-child {
    padding-left: 2px;
}

.stat:last-child > .value {
    border-bottom: 1px solid grey;
}
